#mapid {
  height: 35em;
  border-width: 1.5em;
  border-radius: 3.5em;
  margin-top: 10px;
}

#login-form{
  border-width: 0em;
  border-radius: 0em;
  margin-top: 2em;
}

#title{
  font-size: 50px;
  letter-spacing: 3px;
}

#submit-button{
  background-color: transparent;
  border-color: rgba(50, 50, 255, 0.9);
}

.card{
  background-color: transparent;
  border-width: 1.5em;
  border-radius: 3em;
  border-style: groove;
  height: 14em;
}

.btn{
  color: rgba(255,255,255);
  border-width: 0.35em;
  border-color: rgba(255,10,50);
}




#wrap{
    width:100%;
    margin:0 auto;
}
.card-game-name-box{
    float:left;
    width:35;
    /* background:oid red; */
    margin:0 auto;
}

.leaflet-popup-content {
     width: 400px;
     maxHeight: 600px;
}

.text-center{
    width: 22%;
    margin-left: 40%;
    margin-top: 15%;
  }

#error{
  color: red;
}

.button-container{
  margin-left: 16%;
  margin-top: 15%;
}

.create-btn{
  width: 40%;
  height: 20em;
}
.join-btn{
  width: 40%;
  height: 20em;
}


.edit-margin {
  margin-right: 1em;
  margin-left: 0em;
}

body {
  font-family: 'Righteous', cursive;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8) ), url("media/basketBallBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#basketball-btn{
  color: rgba(255,255,150);
  font-size: 24px;
}
#football-btn{
  color: rgba(100,255,255);
  font-size: 24px;
}
#soccer-btn{
  color: rgba(0,0,255);
  font-size: 24px;
}
#pingpong-btn{
  color: rgba(255,100,255);
  font-size: 24px;
}
#all-btn{
  color: rgba(255,255,255);
  font-size: 24px;
}

p{
 display:inline;
 word-wrap: break-word;
}
