#mapid { height: 35em; }

#wrap{
    width:100%;
    margin:0 auto;
}
.card-game-name-box{
    float:left;
    width:35;
    /* background:orange; */
    /* border:2px solid red; */
    margin:0 auto;
}

.leaflet-popup-content {
     width: 400px;
     maxHeight: 600px;
}

.text-center{
    width: 22%;
    margin-left: 40%;
    margin-top: 15%;
  }

#error{
  color: red;
}

.button-container{
  margin-left: 16%;
  margin-top: 15%;
}

.create-btn{
  width: 40%;
  height: 20em;
}
.join-btn{
  width: 40%;
  height: 20em;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 3px;
  width: 25em;

}

.product:hover {
  background: rgb(240, 240, 240);
}

.product:hover .product-upvote {
  font-size: 25px;
}

.product-upvote {
  font-size: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}

.product-description {
  flex: 1 0 auto;
  padding: 20px;
}
.product-controls a {
  font-size: 15px;
  color: #CCCCCC;
}

.edit-margin {
  margin-right: 1em;
}
